.primo {
  background-color: aquamarine;
  padding: 0.5em;
  margin: 0.5em;
  width: 300px;
  transition: width 3s, background-color 3s;
}

.primo:hover {
  width: 150px;
  background-color: lightsalmon;
}

.secondo {
  background-color: rgb(132, 55, 204);
  padding: 0.5em;
  margin: 0.5em;
  width: 300px;
  transition: width 3s, background-color 3s;
}

.secondo:hover {
  width: 150px;
  background-color: lightseagreen;
}

.terzo {
  background-color: bisque;
  padding: 0.5em;
  margin: 0.5em;
  width: 300px;
}

.quarto {
  background-color: rgb(27, 59, 30);
  padding: 0.5em;
  margin: 0.5em;
  width: 300px;
}

.quinto {
  background-color: skyblue;
  padding: 0.5em;
  margin: 0.5em;
  width: 300px;
  position: relative;
}

.sesto {
  background-color: rgb(200, 197, 24);
  padding: 0.5em;
  margin: 0.5em;
  width: 300px;
}

.settimo {
  background-color: #ffc017;
  width: 300px;
  padding: 0.5em;
  margin: 0.5em;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 80%;
  min-width: 5%;
  flex-basis: auto;
  justify-content: flex-end;
}

.quinto:hover {
  animation: cambioColore 4s ease-in-out 0s infinite alternate both;
}

.sesto:hover {
  animation: OpacityOn 2s normal forwards step-end;
  animation-delay: 2s;
}

.lettere i {
  position: relative;
  opacity: 1;
  overflow: hidden;
  -webkit-animation: opacityM 8s infinite alternate both 0.5s ;
  -ms-animation: opacityM 8s infinite alternate both 0,5s;
  animation: opacityM 8s infinite alternate both 0.5s;
}


.lettere i:nth-child(5) {
  -webkit-animation-delay: 3s;
  -ms-animation-delay: 3s;
  animation-delay: 3s;
}


.lettere i:nth-child(7) {
  -webkit-animation-delay: 4s;
  -ms-animation-delay: 4s;
  animation-delay: 4s;
}


.lettere i:nth-child(13) {
  -webkit-animation-delay: 4s;
  -ms-animation-delay: 4s;
  animation-delay: 4s;
}


.lettere i:nth-child(17) {
  -webkit-animation-delay: 2s;
  -ms-animation-delay: 2s;
  animation-delay: 2s;
}



.lettere i:nth-child(30) {
  -webkit-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
}


.lettere i:nth-child(41) {
  -webkit-animation-delay: 5s;
  -ms-animation-delay: 5s;
  animation-delay: 5s;
}

.lettere i:nth-child(75) {
  -webkit-animation-delay: 3s;
  -ms-animation-delay: 3s;
  animation-delay: 3s;
}


.lettere i:nth-child(107) {
  -webkit-animation-delay: 4s;
  -ms-animation-delay: 4s;
  animation-delay: 4s;
}


.lettere i:nth-child(138) {
  -webkit-animation-delay: 4s;
  -ms-animation-delay: 4s;
  animation-delay: 4s;
}


.lettere i:nth-child(171) {
  -webkit-animation-delay: 7s;
  -ms-animation-delay: 7s;
  animation-delay: 7s;
}











.lettere i:nth-child(78) {
  -webkit-animation-delay: 2s;
  -ms-animation-delay: 2s;
  animation-delay: 2s;
}


.lettere i:nth-child(1) {
  -webkit-animation-delay: 5s;
  -ms-animation-delay: 5s;
  animation-delay: 5s;
}


.lettere i:nth-child(256) {
  -webkit-animation-delay: 2s;
  -ms-animation-delay: 2s;
  animation-delay: 2s;
}


.lettere i:nth-child(178) {
  -webkit-animation-delay: 2s;
  -ms-animation-delay: 2s;
  animation-delay: 2s;
}



.lettere i:nth-child(154) {
  -webkit-animation-delay: 4s;
  -ms-animation-delay: 4s;
  animation-delay: 4s;
}


.lettere i:nth-child(88) {
  -webkit-animation-delay: 2s;
  -ms-animation-delay: 2s;
  animation-delay: 2s;
}

.lettere i:nth-child(90) {
  -webkit-animation-delay: 3s;
  -ms-animation-delay: 3s;
  animation-delay: 3s;
}


.lettere i:nth-child(121) {
  -webkit-animation-delay: 4s;
  -ms-animation-delay: 4s;
  animation-delay: 4s;
}


.lettere i:nth-child(100) {
  -webkit-animation-delay: 4s;
  -ms-animation-delay: 4s;
  animation-delay: 4s;
}


.lettere i:nth-child(190) {
  -webkit-animation-delay: 4s;
  -ms-animation-delay: 4s;
  animation-delay: 4s;
}




















/*.lettere i:nth-child(even) {
  -webkit-animation-delay: 3s;
  -ms-animation-delay: 3s;
  animation-delay: 3s;
} */

.lettere i:nth-child(odd) {
  color:#ffc017;
}




@keyframes cambioColore {
  from {
    background-color: skyblue;
    left: 0px;
    right: 0px;
  }
  to {
    background-color: slateblue;
    left: 200px;
    right: 200px;
  }
}

@keyframes opacityOn {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes opacityM {
  from {
    color: black;
    opacity: 1;
  }

  to  {
    color:#ffc017;
    opacity: 0;
  }
}

