header {
  text-align: center;
}
header img {
  width: 200px;
}
p {
  font-weight: lighter;
  font-size: small;
}
span {
  color: #40726e;
  font-weight: bold;
}
#claim {
  border-top: 2px solid rgba(205, 204, 134, 0.386);
  background-color: #fdfbf1;
}
#frontespizio {
  align-content: center;
  text-align: center;
}
h1 {
  text-align: center;
}
#featured {
  border-left: 100px;
  padding: 10px;
  align-content: center;
  margin: 0 auto;
}
.recipe {
  font-weight: bolder;
}
h2 {
  font-weight: lighter;
}
#dough {
  font-weight: bold;
}
main {
  margin: 0, auto;
}
#ingredients, #method {
  margin: 0 auto;
  width: 50%;
}
img {
  width: 100%;
}
